In [6]:
import pandas as pd
import numpy as np
import sys
import os

In [69]:
sys.path.append(os.path.abspath("../utils"))

In [81]:
from indicators import calculate_ATR

In [82]:
data=pd.read_csv("xauusd_15m_data.csv")

In [83]:
data=calculate_ATR(data)

In [84]:
data.head(20)

,time,open,high,low,close,tick_volume,spread,real_volume,H-L,H-PC,L-PC,TR,ATR
0,2025-04-21 20:15:00,3421.063,3423.714,3420.903,3422.389,1309,0,0,2.811,NaN,NaN,2.811,NaN
1,2025-04-21 20:30:00,3422.408,3425.546,3421.571,3424.426,1137,0,0,3.975,3.157,0.818,3.975,NaN
2,2025-04-21 20:45:00,3424.420,3427.275,3423.850,3424.955,1126,0,0,3.425,2.849,0.576,3.425,NaN
3,2025-04-21 22:00:00,3423.972,3433.549,3423.972,3432.212,2000,0,0,9.577,8.594,0.983,9.577,NaN
4,2025-04-21 22:15:00,3432.253,3435.954,3430.889,3433.725,2427,0,0,5.065,3.742,1.323,5.065,NaN
5,2025-04-21 22:30:00,3433.773,3433.773,3428.874,3430.306,1661,0,0,4.899,0.048,4.851,4.899,NaN
6,2025-04-21 22:45:00,3430.282,3433.706,3428.203,3431.142,2281,0,0,5.503,3.400,2.103,5.503,NaN
7,2025-04-21 23:00:00,3431.176,3434.716,3429.439,3433.847,1981,0,0,5.277,3.574,1.703,5.277,NaN
8,2025-04-21 23:15:00,3433.883,3441.719,3433.883,3441.494,3754,0,0,7.836,7.872,0.036,7.872,NaN
9,2025-04-21 23:30:00,3441.582,3444.337,3439.891,3441.867,2941,0,0,4.446,2.843,1.603,4.446,NaN
10,2025-04-21 23:45:00,3441.907,3441.907,3431.802,3434.628,4667,0,0,10.105,0.040,10.065,10.105,NaN
11,2025-04-22 00:00:00,3434.604,3435.537,3412.260,3417.452,9288,0,0,23.277,0.909,22.368,23.277,NaN
12,2025-04-22 00:15:00,3417.409,3431.989,3415.490,3427.860,6933,0,0,16.499,14.537,1.962,16.499,NaN
13,2025-04-22 00:30:00,3427.872,3430.032,3418.698,3424.824,5616,0,0,11.334,2.172,9.162,11.334,8.147500
14,2025-04-22 00:45:00,3424.899,3427.299,3422.038,3425.571,3876,0,0,5.261,2.475,2.786,5.261,8.322500
15,2025-04-22 01:00:00,3425.583,3434.323,3421.644,3433.881,7062,0,0,12.679,8.752,3.927,12.679,8.944214
16,2025-04-22 01:15:00,3433.847,3441.464,3432.271,3439.953,5595,0,0,9.193,7.583,1.610,9.193,9.356214
17,2025-04-22 01:30:00,3439.919,3453.143,3437.731,3450.571,7304,0,0,15.412,13.190,2.222,15.412,9.773000
18,2025-04-22 01:45:00,3450.508,3455.143,3448.459,3453.015,5987,0,0,6.684,4.572,2.112,6.684,9.888643
19,2025-04-22 02:00:00,3453.061,3453.640,3442.514,3449.720,7231,0,0,11.126,0.625,10.501,11.126,10.333429

In [78]:
for i in range(len(data)):
    if pd.isna(data.loc[i, "ATR"]):
        data.loc[i, "result"] = "Hold"
        continue

    target_tp = data.loc[i, "open"] + 1.5 * data.loc[i, "ATR"]
    target_sl = data.loc[i, "open"] - 1.5 * data.loc[i, "ATR"]
    for j in range(i, min(i + 8, len(data))):
        # Check if TP hit
        if data.loc[j, "low"] <= target_tp <= data.loc[j, "high"]:
            data.loc[i, "result"] = "Buy"
            break
        # Check if SL hit
        if data.loc[j, "low"] <= target_sl <= data.loc[j, "high"]:
            data.loc[i, "result"] = "Sell"
            break

    if data.loc[i, "result"] is None:
        data.loc[i, "result"] = "Hold"

In [79]:
data["result"].value_counts()

result
Sell    2105
Buy     2046
Hold    1696
Name: count, dtype: int64

In [ ]:
data.to_csv("processed_data.csv",index=False)